body {
    width: 550px;
    margin: auto;
    background: #EAF2EF;
}

h1{
    border-bottom: 1px solid black;
    font-family: 'Raleway', sans-serif;
}

.square { 
    height: 80px;
    width: 80px;
    font-size: 45pt;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

#message {
    font-size: 18pt;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

#restart{
   
}

.button
{
     padding: 5px 96px;
    
/*    margin-left: 79px;*/
    background-color: #6441a5;
    border-radius: 0 !important;
    color: white;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
